<h1>LOGIN</h1>
<md-content layout-padding>
	<div>
		<form name="userForm">

			<div layout-gt-xs="row">
				<md-input-container class="md-block" flex-gt-xs>
					<label>Usuario</label>
					<input id="usuario" ng-model="user.usuario" type="text">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-xs>
					<label>Clave</label>
					<input id="password" ng-model="user.clave" type="password">
				</md-input-container>
      			<md-button id="Entrar" ng-click="login(user)" class="md-raised md-primary">Entrar</md-button>
			</div>
		</form>
	</div>
</md-content>