<md-content flex layout-xs="column" layout="row" layout-fill > 
  <md-card flex class="md-padding"> 
    <md-card-title> 
      <md-card-title-text layout="row" layout-align="start center"> 
        <span class="md-headline"><h1>Hogares de Cliente</h1></span>
        <span><h2>{{cliente.nombre}}</h2></span>  
        <span flex ></span> 
        <span > 
          <md-card-actions layout="row" layout-align="end center"> 
            <md-button class="md-raised" ng-click="goBackHogar()" >Volver</md-button> 
            <md-button id="idBtnConsultarHogar" class="md-raised" ng-click="consultarHogares()" >Consultar Hogares</md-button>
            <md-button id="idBtnAgregarCliente" ng-click="agregarHogar()" aria-label="description"> 
            <i class="material-icons" style="font-size : 48px" >add_circle</i> 
          </md-button> 
          </md-card-actions> 
           
          <span > 
           
        </span> 
        </span> 
      </md-card-title-text> 
      <md-card-title-media> 
        <div class="md-media-lg card-media"> 
        </div> 
      </md-card-title-media> 
      <md-divider></md-divider> 
    </md-card-title> 
    <md-card-content> 
      <form name="userForm"> 
 
        <div layout-gt-xs="row" ng-hide="ocultarAgregarHogar"> 
          <md-input-container class="md-block" flex-gt-xs> 
            <label>Direccion</label> 
            <input id="idDireccionHogar" ng-model="hogar.direccion"> 
          </md-input-container> 
          <md-input-container class="md-block" flex-gt-xs> 
            <label>Ubicacion</label> 
            <input id="idUbicacionHogar" ng-model="hogar.ubicacion"> 
          </md-input-container> 
           
          <span > 
          <md-card-actions layout="row" layout-align="end center"> 
            <md-button id="idBtnGuardarHogar" class="md-raised md-primary" ng-click="guardarHogar()" >Guardar</md-button> 
          </md-card-actions> 
           
          </span> 
        </div> 
        
       	<div flex layout-fill layout="column">
			<md-button class="md-raised" aria-label="description" ng-repeat="hogar in home_list" layout="row">
				<div layout="row" layout-align="start center">
     					<i flex="5" class="material-icons">person_pickup</i>
					<p flex="50" layout-align="start" style="text-align: left" >{{ hogar.direccion }}</p>
					<span flex ></span>
				</div>
			</md-button>
		</div>
         
         
      </form> 
    </md-card-content> 
  </md-card> 
</md-content>