<md-content flex layout-xs="column" layout="row" layout-fill>
	<md-card flex class="md-padding">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline"><h1>Hogares</h1></span>
			</md-card-title-text>
			<md-card-title-media>
				<div class="md-media-lg card-media"></div>
			</md-card-title-media>
			<md-divider></md-divider>
		</md-card-title>
		<md-card-content>		
			<div flex layout-fill layout="column">
				<md-list flex>
			        <md-list-item class="md-3-line" ng-repeat="item in home_list">
			          <div flex ng-click="consultarConsumo(item)" layout="row">
						<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
						<div class="md-list-item-text" layout="column">
							<h3>Hogar #{{ item.idHogar }}</h3>
							<h4>Cliente: {{ item.nombreCliente }}</h4>
							<h3>{{ item.direccion }}</h3>
							<p>Registro: {{ item.fecha_registro }}</p>
						</div>
			          </div>
			        </md-list-item>
			        <md-divider ></md-divider>
			     </md-list>
			</div>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
		</md-card-actions>
	</md-card>
</md-content>